# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [1]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *
%load_ext sql

In [2]:
%sql postgresql://student:student@127.0.0.1/postgres
%sql alter user student createdb

 * postgresql://student:***@127.0.0.1/postgres
Done.

[]

In [1]:
# %load create_tables.py
import psycopg2
from sql_queries import create_table_queries, drop_table_queries


def create_database():
    """
    - Creates and connects to the sparkifydb
    - Returns the connection and cursor to sparkifydb
    """
    
    # connect to default database
    conn = psycopg2.connect("host=127.0.0.1 dbname=studentdb user=student password=student")
    conn.set_session(autocommit=True)
    cur = conn.cursor()
    
    # create sparkify database with UTF8 encoding
    cur.execute("DROP DATABASE IF EXISTS sparkifydb")
    cur.execute("CREATE DATABASE sparkifydb WITH ENCODING 'utf8' TEMPLATE template0")

    # close connection to default database
    conn.close()    
    
    # connect to sparkify database
    conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
    cur = conn.cursor()
    
    return cur, conn


def drop_tables(cur, conn):
    """
    Drops each table using the queries in `drop_table_queries` list.
    """
    for query in drop_table_queries:
        cur.execute(query)
        conn.commit()


def create_tables(cur, conn):
    """
    Creates each table using the queries in `create_table_queries` list. 
    """
    for query in create_table_queries:
        print(query)
        cur.execute(query)
        conn.commit()


def main():
    """
    - Drops (if exists) and Creates the sparkify database. 
    
    - Establishes connection with the sparkify database and gets
    cursor to it.  
    
    - Drops all the tables.  
    
    - Creates all tables needed. 
    
    - Finally, closes the connection. 
    """

    try:
        cur, conn = create_database()
    
        drop_tables(cur, conn)
        create_tables(cur, conn)
    except Exception as e:
        print(e)
        conn.close()
        raise e
        

main()

CREATE TABLE songplays(
   SONGPLAY_ID         SERIAL PRIMARY KEY,
   USER_ID          CHAR(500),
   START_TIME          CHAR(050),
   LEVEL          CHAR(500),
   SONG_ID         CHAR(500),
   ARTIST_ID       CHAR(500),
   SESSION_ID          CHAR(500) ,
   LOCATION          CHAR(500) ,
   USER_AGENT          CHAR(500)
);


CREATE TABLE users(
   USER_ID          CHAR(500) NOT NULL,
   FIRST_NAME          CHAR(500),
   LAST_NAME          CHAR(500),
   GENDER          CHAR(100),
   LEVEL          CHAR(100)
);


CREATE TABLE songs(
   SONG_ID         CHAR(500),
   TITLE          CHAR(500) ,
   ARTIST_ID          CHAR(500),
   YEAR          INTEGER ,
   DURATION          decimal
   );


CREATE TABLE artists(
   ARTIST_ID         CHAR(500),
   NAME          CHAR(500) ,
   LOCATION          CHAR(400),
   LATITUDE          DECIMAL,
   LONGITUDE          DECIMAL
);


CREATE TABLE TIME(
   START_TIME          TIME,
   HOUR          INTEGER,
   DAY          CHAR(500),
   WEEK          INTEGER,
   MONTH          INTEGER,
   YEAR          INTEGER,
   WEEKDAY          BOOLEAN
);

In [4]:
# %sql DROP DATABASE IF EXISTS sparkifydb;
# %sql CREATE DATABASE sparkifydb;

In [27]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()
conn.set_session(autocommit=True)

In [6]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [7]:
song_files = get_files('data/song_data')
song_files

['/home/workspace/data/song_data/A/B/C/TRABCRU128F423F449.json',
 '/home/workspace/data/song_data/A/B/C/TRABCTK128F934B224.json',
 '/home/workspace/data/song_data/A/B/C/TRABCUQ128E0783E2B.json',
 '/home/workspace/data/song_data/A/B/C/TRABCIX128F4265903.json',
 '/home/workspace/data/song_data/A/B/C/TRABCYE128F934CE1D.json',
 '/home/workspace/data/song_data/A/B/C/TRABCEC128F426456E.json',
 '/home/workspace/data/song_data/A/B/C/TRABCXB128F4286BD3.json',
 '/home/workspace/data/song_data/A/B/C/TRABCAJ12903CDFCC2.json',
 '/home/workspace/data/song_data/A/B/C/TRABCPZ128F4275C32.json',
 '/home/workspace/data/song_data/A/B/C/TRABCKL128F423A778.json',
 '/home/workspace/data/song_data/A/B/C/TRABCEI128F424C983.json',
 '/home/workspace/data/song_data/A/B/C/TRABCFL128F149BB0D.json',
 '/home/workspace/data/song_data/A/B/B/TRABBBV128F42967D7.json',
 '/home/workspace/data/song_data/A/B/B/TRABBLU128F93349CF.json',
 '/home/workspace/data/song_data/A/B/B/TRABBXU128F92FEF48.json',
 '/home/workspace/data/song_data/A/B/B/TRABBAM128F429D223.json',
 '/home/workspace/data/song_data/A/B/B/TRABBJE12903CDB442.json',
 '/home/workspace/data/song_data/A/B/B/TRABBNP128F932546F.json',
 '/home/workspace/data/song_data/A/B/B/TRABBOP128F931B50D.json',
 '/home/workspace/data/song_data/A/B/B/TRABBZN12903CD9297.json',
 '/home/workspace/data/song_data/A/B/B/TRABBOR128F4286200.json',
 '/home/workspace/data/song_data/A/B/B/TRABBTA128F933D304.json',
 '/home/workspace/data/song_data/A/B/B/TRABBKX128F4285205.json',
 '/home/workspace/data/song_data/A/B/B/TRABBVJ128F92F7EAA.json',
 '/home/workspace/data/song_data/A/B/A/TRABACN128F425B784.json',
 '/home/workspace/data/song_data/A/B/A/TRABAWW128F4250A31.json',
 '/home/workspace/data/song_data/A/B/A/TRABATO128F42627E9.json',
 '/home/workspace/data/song_data/A/B/A/TRABAXL128F424FC50.json',
 '/home/workspace/data/song_data/A/B/A/TRABAFJ128F42AF24E.json',
 '/home/workspace/data/song_data/A/B/A/TRABAXR128F426515F.json',
 '/home/workspace/data/song_data/A/B/A/TRABAXV128F92F6AE3.json',
 '/home/workspace/data/song_data/A/B/A/TRABAZH128F930419A.json',
 '/home/workspace/data/song_data/A/B/A/TRABAFP128F931E9A1.json',
 '/home/workspace/data/song_data/A/B/A/TRABAIO128F42938F9.json',
 '/home/workspace/data/song_data/A/B/A/TRABAVQ12903CBF7E0.json',
 '/home/workspace/data/song_data/A/A/C/TRAACFV128F935E50B.json',
 '/home/workspace/data/song_data/A/A/C/TRAACLV128F427E123.json',
 '/home/workspace/data/song_data/A/A/C/TRAACVS128E078BE39.json',
 '/home/workspace/data/song_data/A/A/C/TRAACHN128F1489601.json',
 '/home/workspace/data/song_data/A/A/C/TRAACSL128F93462F4.json',
 '/home/workspace/data/song_data/A/A/C/TRAACTB12903CAAF15.json',
 '/home/workspace/data/song_data/A/A/C/TRAACOW128F933E35F.json',
 '/home/workspace/data/song_data/A/A/C/TRAACPE128F421C1B9.json',
 '/home/workspace/data/song_data/A/A/C/TRAACZK128F4243829.json',
 '/home/workspace/data/song_data/A/A/C/TRAACQT128F9331780.json',
 '/home/workspace/data/song_data/A/A/C/TRAACNS128F14A2DF5.json',
 '/home/workspace/data/song_data/A/A/C/TRAACIW12903CC0F6D.json',
 '/home/workspace/data/song_data/A/A/C/TRAACCG128F92E8A55.json',
 '/home/workspace/data/song_data/A/A/C/TRAACER128F4290F96.json',
 '/home/workspace/data/song_data/A/A/B/TRAABNV128F425CEE1.json',
 '/home/workspace/data/song_data/A/A/B/TRAABJV128F1460C49.json',
 '/home/workspace/data/song_data/A/A/B/TRAABVM128F92CA9DC.json',
 '/home/workspace/data/song_data/A/A/B/TRAABLR128F423B7E3.json',
 '/home/workspace/data/song_data/A/A/B/TRAABCL128F4286650.json',
 '/home/workspace/data/song_data/A/A/B/TRAABDL12903CAABBA.json',
 '/home/workspace/data/song_data/A/A/B/TRAABXG128F9318EBD.json',
 '/home/workspace/data/song_data/A/A/B/TRAABYN12903CFD305.json',
 '/home/workspace/data/song_data/A/A/B/TRAABRB128F9306DD5.json',
 '/home/workspace/data/song_data/A/A/B/TRAABJL12903CDCF1A.json',
 '/home/workspace/data/song_data/A/A/B/TRAABYW128F4244559.json',
 '/home/workspace/data/song_data/A/A/A/TRAAADZ128F9348C2E.json',
 '/home/workspace/data/song_data/A/A/A/TRAAARJ128F9320760.json',
 '/home/workspace/data/song_data/A/A/A/TRAAAPK128E0786D96.json',
 '/home/workspace/data/song_data/A/A/A/TRAAAVG12903CFA543.json',
 '/home/workspace/data/song_data/A/A/A/TRAAAFD128F92F423A.json',
 '/home/workspace/data/song_data/A/A/A/TRAAAVO128F93133D4.json',
 '/home/workspace/data/song_data/A/A/A/TRAAAAW128F429D538.json',
 '/home/workspace/data/song_data/A/A/A/TRAAAEF128F4273421.json',
 '/home/workspace/data/song_data/A/A/A/TRAAAMQ128F1460CD3.json',
 '/home/workspace/data/song_data/A/A/A/TRAAAMO128F1481E7F.json',
 '/home/workspace/data/song_data/A/A/A/TRAAABD128F429CF47.json']

In [8]:
filepath = song_files[0]

In [9]:
import json 
df = pd.DataFrame([json.loads(open(filepath).read())])
df.head()

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,AR8IEZO1187B99055E,None,,None,Marc Shaiman,149.86404,1,SOINLJW12A8C13314C,City Slickers,2008

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [10]:
songs_data = [df.loc[0].song_id, df.loc[0].title, df.loc[0].artist_id, int(df.loc[0].year), int(df.loc[0].duration)]

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [11]:

cur.execute(song_table_insert, songs_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [12]:
artist_data = [df.loc[0].artist_id, df.loc[0].artist_name, df.loc[0].artist_location, df.loc[0].artist_latitude, df.loc[0].artist_longitude] 
artist_data
df

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,AR8IEZO1187B99055E,None,,None,Marc Shaiman,149.86404,1,SOINLJW12A8C13314C,City Slickers,2008

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [13]:
cur.execute(artist_table_insert, artist_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [14]:
log_files = get_files("data/log_data")

In [15]:
filepath = log_files[0]

In [38]:
dd = [json.loads(f) for f in open(filepath).readlines()]
df = pd.DataFrame(dd)
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Sydney Youngblood,Logged In,Jacob,M,53,Klein,238.07955,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,Ain't No Sunshine,200,1543449657796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
1,Gang Starr,Logged In,Layla,F,88,Griffin,151.92771,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My Advice 2 You (Explicit),200,1543449690796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
2,3OH!3,Logged In,Layla,F,89,Griffin,192.52200,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My First Kiss (Feat. Ke$ha) [Album Version],200,1543449841796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
3,RÃÂ¶yksopp,Logged In,Jacob,M,54,Klein,369.81506,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,The Girl and The Robot,200,1543449895796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
4,Kajagoogoo,Logged In,Layla,F,90,Griffin,223.55546,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Too Shy,200,1543450033796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [37]:
df.head()
df[df['page'] == 'NextSong']

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Sydney Youngblood,Logged In,Jacob,M,53,Klein,238.07955,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,Ain't No Sunshine,200,2018-11-29 00:00:57.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
1,Gang Starr,Logged In,Layla,F,88,Griffin,151.92771,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My Advice 2 You (Explicit),200,2018-11-29 00:01:30.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
2,3OH!3,Logged In,Layla,F,89,Griffin,192.52200,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My First Kiss (Feat. Ke$ha) [Album Version],200,2018-11-29 00:04:01.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
3,RÃÂ¶yksopp,Logged In,Jacob,M,54,Klein,369.81506,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,The Girl and The Robot,200,2018-11-29 00:04:55.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
4,Kajagoogoo,Logged In,Layla,F,90,Griffin,223.55546,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Too Shy,200,2018-11-29 00:07:13.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
5,The Jimmy Castor Bunch,Logged In,Layla,F,91,Griffin,306.54649,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Potential,200,2018-11-29 00:10:56.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
6,Ministry,Logged In,Jacob,M,55,Klein,186.69669,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,The Great Satan (What Would Satan Do Mix),200,2018-11-29 00:11:04.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
7,Bouncing Souls,Logged In,Jacob,M,56,Klein,117.31546,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,The Screamer,200,2018-11-29 00:14:10.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
8,Tegan And Sara,Logged In,Layla,F,92,Griffin,129.67138,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Knife Going In (Album Version),200,2018-11-29 00:16:02.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
9,Silverchair,Logged In,Layla,F,93,Griffin,242.96444,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,The Greatest View (Album Version),200,2018-11-29 00:18:11.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
10,Enigma,Logged In,Layla,F,94,Griffin,242.78159,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,T.N.T. For The Brain (112 Bpm) (Radio Edit),200,2018-11-29 00:22:13.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
11,Anis,Logged In,Layla,F,95,Griffin,278.12526,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Mon MÃÂ©tro,200,2018-11-29 00:26:15.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
12,Seal,Logged In,Layla,F,96,Griffin,254.06649,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Fly Like An Eagle,200,2018-11-29 00:30:53.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
13,UNKLE Feat. Josh Homme,Logged In,Layla,F,97,Griffin,307.19955,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Restless,200,2018-11-29 00:35:07.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
14,Dwight Yoakam,Logged In,Layla,F,98,Griffin,239.30730,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,You're The One,200,2018-11-29 00:40:14.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
15,Elastica,Logged In,Layla,F,99,Griffin,141.92281,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Blue,200,2018-11-29 00:44:13.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
16,Capone-N-Noreaga,Logged In,Layla,F,100,Griffin,194.82077,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Channel 10,200,2018-11-29 00:46:34.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
17,Morris Day,Logged In,Layla,F,101,Griffin,442.46159,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,The Oak Tree (Album Version),200,2018-11-29 00:49:48.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
18,Foo Fighters,Logged In,Layla,F,102,Griffin,302.91546,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,What If I Do?,200,2018-11-29 00:57:10.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
19,Olive,Logged In,Layla,F,103,Griffin,264.12363,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,You're Not Alone,200,2018-11-29 01:02:12.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
20,Olle Adolphson,Logged In,Layla,F,104,Griffin,202.39628,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,En Glad Calypso Om VÃÂ¥ren (Live '62),200,2018-11-29 01:06:36.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
21,Streetlight Manifesto,Logged In,Ava,F,0,Robinson,303.33342,free,"New Haven-Milford, CT",PUT,NextSong,1.540932e+12,1011,Down_ Down_ Down To Mehphisto's Cafe (Album Ve...,200,2018-11-29 01:09:23.796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",50
22,Frank Reyes,Logged In,Layla,F,105,Griffin,239.67302,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Tu Eres Ajena,200,2018-11-29 01:09:58.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
23,Andres Calamaro,Logged In,Layla,F,106,Griffin,217.54730,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Estadio Azteca,200,2018-11-29 01:13:57.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
24,Zero 7,Logged In,Layla,F,107,Griffin,279.56200,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Sleeper,200,2018-11-29 01:17:34.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
25,Mark Ronson featuring Tiggers,Logged In,Layla,F,108,Griffin,245.18485,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Toxic,200,2018-11-29 01:22:13.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
26,Keith Sweat,Logged In,Layla,F,109,Griffin,295.78404,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Merry Go Round (Remastered Single Version),200,2018-11-29 01:26:18.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
27,Wakey!Wakey!,Logged In,Layla,F,110,Griffin,145.03138,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Square Peg Round Hole,200,2018-11-29 01:31:13.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
28,The Mercury Program,Logged In,Layla,F,111,Griffin,292.36200,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Eqypt,200,2018-11-29 01:33:38.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
29,Kid Cudi / Kanye West / Common,Logged In,Layla,F,112,Griffin,237.76608,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Make Her Say,200,2018-11-29 01:38:30.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333,Mission Of Burma,Logged In,Tegan,F,15,Levine,218.20036,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,1065,Red,200,2018-11-29 21:30:47.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80
334,Danity Kane,Logged In,Chloe,F,95,Cuevas,247.74485,paid,"San Francisco-Oakland-Hayward, CA",PUT,NextSong,1.540941e+12,1041,Damaged [Feat. Fabolous],200,2018-11-29 21:31:34.796,Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...,49
336,Radiohead,Logged In,Tegan,F,16,Levine,223.00689,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,1065,Sulk,200,2018-11-29 21:34:25.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80
337,Fightstar,Logged In,Wyatt,M,1,Scott,212.61016,free,"Eureka-Arcata-Fortuna, CA",PUT,NextSong,1.540872e+12,1010,The English Way,200,2018-11-29 21:34:28.796,Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7....,9
338,Hoobastank,Logged In,Tegan,F,17,Levine,242.78159,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,1065,To Be With You,200,2018-11-29 21:38:08.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80
339,Bright Eyes,Logged In,Tegan,F,18,Levine,279.87546,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,1065,Poison Oak (Album Version),200,2018-11-29 21:42:10.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80
340,Procol Harum,Logged In,Tegan,F,19,Levine,368.56118,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,1065,Grand Hotel,200,2018-11-29 21:46:49.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80
341,Radiohead,Logged In,Tegan,F,20,Levine,259.29098,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,1065,Planet Telex,200,2018-11-29 21:52:57.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80
342,Alliance Ethnik,Logged In,Tegan,F,21,Levine,195.94404,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,1065,SinceritÃÂ© Et Jalousie,200,2018-11-29 21:57:16.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80
343,Muse,Logged In,Tegan,F,22,Levine,365.45261,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,1065,New Born,200,2018-11-29 22:00:31.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80
344,Steps,Logged In,Tegan,F,23,Levine,201.76934,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,1065,5_ 6_ 7_ 8,200,2018-11-29 22:06:36.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80
345,John Mayer,Logged In,Tegan,F,24,Levine,198.19057,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,1065,The Heart Of Life,200,2018-11-29 22:09:57.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80
346,Kings Of Leon,Logged In,Sean,F,0,Wilson,201.79546,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.540370e+12,21,Revelry,200,2018-11-29 22:10:17.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",22
347,David Gray,Logged In,Tegan,F,25,Levine,263.33995,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,1065,Draw The Line,200,2018-11-29 22:13:15.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80
348,King Stitt,Logged In,Sean,F,1,Wilson,176.27383,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.540370e+12,21,The Ugly One (AKA Lee Van Cleef),200,2018-11-29 22:13:38.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",22
349,Tub Ring,Logged In,Tegan,F,26,Levine,233.69098,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,1065,Invalid,200,2018-11-29 22:17:38.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80
350,Era,Logged In,Tegan,F,27,Levine,200.56771,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,1065,Cathar Rhythm,200,2018-11-29 22:21:31.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80
352,+ / - {Plus/Minus},Logged In,Tegan,F,29,Levine,318.98077,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,1065,The Queen of Nothing,200,2018-11-29 22:27:31.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80
353,Crystal Castles,Logged In,Tegan,F,30,Levine,175.51628,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,1065,Good Time,200,2018-11-29 22:32:49.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80
354,The Whitest Boy Alive,Logged In,Tegan,F,31,Levine,234.57914,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,1065,Figures,200,2018-11-29 22:35:44.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80
355,The White Stripes,Logged In,Tegan,F,32,Levine,194.48118,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,1065,Bone Broke,200,2018-11-29 22:39:38.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80
356,Furthermore,Logged In,Tegan,F,33,Levine,211.69587,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,1065,Are You The Walrus?,200,2018-11-29 22:42:52.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80
357,Eminem / Bizarre,Logged In,Tegan,F,34,Levine,244.55791,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,1065,Amityville,200,2018-11-29 22:46:23.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80
358,Florence + The Machine,Logged In,Tegan,F,35,Levine,185.31220,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,1065,I'm Not Calling You A Liar,200,2018-11-29 22:50:27.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80
359,Soda Stereo,Logged In,Braden,M,0,Parker,316.73424,free,"Youngstown-Warren-Boardman, OH-PA",PUT,NextSong,1.540999e+12,1007,Signos,200,2018-11-29 22:51:18.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",74
360,Taylor Swift,Logged In,Tegan,F,36,Levine,230.47791,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,1065,You Belong With Me,200,2018-11-29 22:53:32.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80
362,Pearl Jam,Logged In,Tegan,F,38,Levine,283.89832,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,1065,Rearviewmirror,200,2018-11-29 22:57:22.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80
363,The 2 Live Crew,Logged In,Tegan,F,39,Levine,188.31628,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,1065,Me So Horny,200,2018-11-29 23:02:05.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80
364,311,Logged In,Tegan,F,40,Levine,113.26649,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,1065,Loco,200,2018-11-29 23:05:13.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80
365,Light Of The World,Logged In,Kynnedi,F,0,Sanchez,207.07220,free,"Cedar Rapids, IA",PUT,NextSong,1.541079e+12,1029,"Midnight Groovin' (7"" Version) (2006 Digital R...",200,2018-11-29 23:18:35.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_5...",89

In [18]:
import datetime
df['ts'] = df['ts'].apply(lambda x: datetime.datetime.fromtimestamp(x/1000)) 
t = df
t.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Sydney Youngblood,Logged In,Jacob,M,53,Klein,238.07955,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,Ain't No Sunshine,200,2018-11-29 00:00:57.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
1,Gang Starr,Logged In,Layla,F,88,Griffin,151.92771,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My Advice 2 You (Explicit),200,2018-11-29 00:01:30.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
2,3OH!3,Logged In,Layla,F,89,Griffin,192.52200,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My First Kiss (Feat. Ke$ha) [Album Version],200,2018-11-29 00:04:01.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
3,RÃÂ¶yksopp,Logged In,Jacob,M,54,Klein,369.81506,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,The Girl and The Robot,200,2018-11-29 00:04:55.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
4,Kajagoogoo,Logged In,Layla,F,90,Griffin,223.55546,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Too Shy,200,2018-11-29 00:07:13.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24

In [19]:
time_data = []
for td in t['ts']:
    wd = True if td.weekday() <=6 else False
    time_data.append([str(td.time()), td.hour, td.day, td.week, td.month, td.year, wd])
time_data
column_labels = ('start_time', 'hour', 'day', 'week', 'month', 'year', 'weekday')

In [20]:
time_df = pd.DataFrame(time_data, columns=column_labels)
time_df.head()

        start_time  hour  day  week  month  year  weekday
0  00:00:57.796000     0   29    48     11  2018     True
1  00:01:30.796000     0   29    48     11  2018     True
2  00:04:01.796000     0   29    48     11  2018     True
3  00:04:55.796000     0   29    48     11  2018     True
4  00:07:13.796000     0   29    48     11  2018     True

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [21]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [22]:
user_df = df[['userId', 'firstName', 'lastName', 'gender', 'level']].copy()
user_df

    userId firstName  lastName gender level
0       73     Jacob     Klein      M  paid
1       24     Layla   Griffin      F  paid
2       24     Layla   Griffin      F  paid
3       73     Jacob     Klein      M  paid
4       24     Layla   Griffin      F  paid
5       24     Layla   Griffin      F  paid
6       73     Jacob     Klein      M  paid
7       73     Jacob     Klein      M  paid
8       24     Layla   Griffin      F  paid
9       24     Layla   Griffin      F  paid
10      24     Layla   Griffin      F  paid
11      24     Layla   Griffin      F  paid
12      24     Layla   Griffin      F  paid
13      24     Layla   Griffin      F  paid
14      24     Layla   Griffin      F  paid
15      24     Layla   Griffin      F  paid
16      24     Layla   Griffin      F  paid
17      24     Layla   Griffin      F  paid
18      24     Layla   Griffin      F  paid
19      24     Layla   Griffin      F  paid
20      24     Layla   Griffin      F  paid
21      50       Ava  Robinson      F  free
22      24     Layla   Griffin      F  paid
23      24     Layla   Griffin      F  paid
24      24     Layla   Griffin      F  paid
25      24     Layla   Griffin      F  paid
26      24     Layla   Griffin      F  paid
27      24     Layla   Griffin      F  paid
28      24     Layla   Griffin      F  paid
29      24     Layla   Griffin      F  paid
..     ...       ...       ...    ...   ...
336     80     Tegan    Levine      F  paid
337      9     Wyatt     Scott      M  free
338     80     Tegan    Levine      F  paid
339     80     Tegan    Levine      F  paid
340     80     Tegan    Levine      F  paid
341     80     Tegan    Levine      F  paid
342     80     Tegan    Levine      F  paid
343     80     Tegan    Levine      F  paid
344     80     Tegan    Levine      F  paid
345     80     Tegan    Levine      F  paid
346     22      Sean    Wilson      F  free
347     80     Tegan    Levine      F  paid
348     22      Sean    Wilson      F  free
349     80     Tegan    Levine      F  paid
350     80     Tegan    Levine      F  paid
351     80     Tegan    Levine      F  paid
352     80     Tegan    Levine      F  paid
353     80     Tegan    Levine      F  paid
354     80     Tegan    Levine      F  paid
355     80     Tegan    Levine      F  paid
356     80     Tegan    Levine      F  paid
357     80     Tegan    Levine      F  paid
358     80     Tegan    Levine      F  paid
359     74    Braden    Parker      M  free
360     80     Tegan    Levine      F  paid
361     80     Tegan    Levine      F  paid
362     80     Tegan    Levine      F  paid
363     80     Tegan    Levine      F  paid
364     80     Tegan    Levine      F  paid
365     89   Kynnedi   Sanchez      F  free

[366 rows x 5 columns]

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [23]:
cur.execute('drop table IF EXISTS users')
cur.execute(create_table_queries[1])
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [35]:
for index, row in df.iterrows():
    
    song_select = "select song_id, artists.artist_id from songs join artists on artists.artist_id=songs.artist_id where songs.title=%s and  artists.name=%s and  songs.duration=%s"

    # get songid and artistid from song and artist tables
    # print(row.song, row.artist, str(row.length))
    cur.execute(song_select, (row.song, row.artist, str(row.length)))
    results = cur.fetchone()
    
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None

#     print(results)
    # insert songplay record
#     songplay_data = ()
#     cur.execute(songplay_table_insert, songplay_data)
#     conn.commit()

cur.execute("select * from artists;")
results = cur.fetchall()
print(results)

[('AR8IEZO1187B99055E                                ', 'Marc Shaiman                                      ', '                                        ', None, None)]

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [39]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.

In [2]:
# %load etl.py
import os
import json
import glob
import psycopg2
import pandas as pd
from sql_queries import *
import datetime


def get_file_df(filepath):
    dd = [json.loads(f) for f in open(filepath).readlines()]
    return pd.DataFrame(dd)
    
    
    
def process_song_file(cur, filepath):
    # open song file
    df = get_file_df(filepath)

    # insert song record
    song_data = songs_data = [df.loc[0].song_id, df.loc[0].title, df.loc[0].artist_id, int(df.loc[0].year), int(df.loc[0].duration)]
    cur.execute(song_table_insert, song_data)
    
    # insert artist record
    artist_data = [df.loc[0].artist_id, df.loc[0].artist_name, df.loc[0].artist_location, df.loc[0].artist_latitude, df.loc[0].artist_longitude] 

    cur.execute(artist_table_insert, artist_data)


def process_log_file(cur, filepath):
    # open log file
    df = get_file_df(filepath)

    # filter by NextSong action
    df = df[df['page'] == 'NextSong']

    # convert timestamp column to datetime
    df['ts'] = df['ts'].apply(lambda x: datetime.datetime.fromtimestamp(x/1000)) 
    t = df
    
    time_data = []
    for td in t['ts']:
        wd = True if td.weekday() <=6 else False
        time_data.append([str(td.time()), td.hour, td.day, td.week, td.month, td.year, wd])
    column_labels = ('start_time', 'hour', 'day', 'week', 'month', 'year', 'weekday')

    # insert time data records
    time_df = pd.DataFrame(time_data, columns=column_labels)

    for i, row in time_df.iterrows():
        cur.execute(time_table_insert, list(row))

    # load user table
    user_df = df[['userId', 'firstName', 'lastName', 'gender', 'level']].copy()

    # insert user records
    for i, row in user_df.iterrows():
        cur.execute(user_table_insert, row)

    # insert songplay records
    for index, row in df.iterrows():
        
        # get songid and artistid from song and artist tables
        cur.execute(song_select, (row.song, row.artist, row.length))
        results = cur.fetchone()
        
        if results:
            songid, artistid = results
        else:
            songid, artistid = None, None

        # insert songplay record
        #user_id, level, song_id, artist_id, session_id, location, user_agent
        songplay_data = [row.userId, row.level, songid, artistid, row.sessionId, row.location, row.userAgent]
        cur.execute(songplay_table_insert, songplay_data)


def process_data(cur, conn, filepath, func):
    # get all files matching extension from directory
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))

    # get total number of files found
    num_files = len(all_files)
    print('{} files found in {}'.format(num_files, filepath))

    # iterate over files and process
    for i, datafile in enumerate(all_files, 1):
        func(cur, datafile)
        conn.commit()
        print('{}/{} files processed.'.format(i, num_files))


def main():

    try:
        conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
        cur = conn.cursor()

        process_data(cur, conn, filepath='data/song_data', func=process_song_file)
        process_data(cur, conn, filepath='data/log_data', func=process_log_file)
    finally:
        conn.close()


main()

71 files found in data/song_data
1/71 files processed.
2/71 files processed.
3/71 files processed.
4/71 files processed.
5/71 files processed.
6/71 files processed.
7/71 files processed.
8/71 files processed.
9/71 files processed.
10/71 files processed.
11/71 files processed.
12/71 files processed.
13/71 files processed.
14/71 files processed.
15/71 files processed.
16/71 files processed.
17/71 files processed.
18/71 files processed.
19/71 files processed.
20/71 files processed.
21/71 files processed.
22/71 files processed.
23/71 files processed.
24/71 files processed.
25/71 files processed.
26/71 files processed.
27/71 files processed.
28/71 files processed.
29/71 files processed.
30/71 files processed.
31/71 files processed.
32/71 files processed.
33/71 files processed.
34/71 files processed.
35/71 files processed.
36/71 files processed.
37/71 files processed.
38/71 files processed.
39/71 files processed.
40/71 files processed.
41/71 files processed.
42/71 files processed.
43/71 files processed.
44/71 files processed.
45/71 files processed.
46/71 files processed.
47/71 files processed.
48/71 files processed.
49/71 files processed.
50/71 files processed.
51/71 files processed.
52/71 files processed.
53/71 files processed.
54/71 files processed.
55/71 files processed.
56/71 files processed.
57/71 files processed.
58/71 files processed.
59/71 files processed.
60/71 files processed.
61/71 files processed.
62/71 files processed.
63/71 files processed.
64/71 files processed.
65/71 files processed.
66/71 files processed.
67/71 files processed.
68/71 files processed.
69/71 files processed.
70/71 files processed.
71/71 files processed.
30 files found in data/log_data
1/30 files processed.
2/30 files processed.
3/30 files processed.
4/30 files processed.
5/30 files processed.
6/30 files processed.
7/30 files processed.
8/30 files processed.
9/30 files processed.
10/30 files processed.
11/30 files processed.
12/30 files processed.
13/30 files processed.
14/30 files processed.
15/30 files processed.
16/30 files processed.
17/30 files processed.
18/30 files processed.
19/30 files processed.
20/30 files processed.
21/30 files processed.
22/30 files processed.
23/30 files processed.
24/30 files processed.
25/30 files processed.
26/30 files processed.
27/30 files processed.
28/30 files processed.
29/30 files processed.
30/30 files processed.