In [1]:
%load_ext sql

In [2]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: student@sparkifydb'

In [ ]:
# %sql postgresql://student:student@127.0.0.1/sparkifydb
# %sql SELECT pg_terminate_backend(pid) FROM pg_stat_activity WHERE pid <> pg_backend_pid() AND datname = 'sparkifydb';

In [3]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.

[]

In [4]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('73                                                ', 'Jacob                                             ', 'Klein                                             ', 'M         ', 'paid      '),
 ('24                                                ', 'Layla                                             ', 'Griffin                                           ', 'F         ', 'paid      '),
 ('24                                                ', 'Layla                                             ', 'Griffin                                           ', 'F         ', 'paid      '),
 ('73                                                ', 'Jacob                                             ', 'Klein                                             ', 'M         ', 'paid      '),
 ('24                                                ', 'Layla                                             ', 'Griffin                                           ', 'F         ', 'paid      ')]

In [5]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[('SOINLJW12A8C13314C                                ', 'City Slickers                                     ', 'AR8IEZO1187B99055E                                ', 2008, '149                                               ')]

In [6]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[('AR8IEZO1187B99055E                                ', 'Marc Shaiman                                      ', '                                        ', None, None)]

In [7]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(datetime.time(0, 0, 57, 796000), 0, '29                                                ', 48, 11, 2018, True),
 (datetime.time(0, 1, 30, 796000), 0, '29                                                ', 48, 11, 2018, True),
 (datetime.time(0, 4, 1, 796000), 0, '29                                                ', 48, 11, 2018, True),
 (datetime.time(0, 4, 55, 796000), 0, '29                                                ', 48, 11, 2018, True),
 (datetime.time(0, 7, 13, 796000), 0, '29                                                ', 48, 11, 2018, True)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).

In [11]:
%sql

 * postgresql://student:***@127.0.0.1/sparkifydb
(psycopg2.ProgrammingError) syntax error at or near "quit"
LINE 1: quit()
        ^
 [SQL: 'quit()']